@import 'tailwindcss';

@font-face {
  font-family: 'Pretendard';
  src: url('/public/fonts/PretendardVariable.ttf');
}
html,
body * {
  overflow-x: hidden;
  font-family: 'Pretendard';
}

*::-webkit-scrollbar {
  display: none;
}
